<style>
html {
	font-family: "Times New Roman", Times, serif;
}



#menu {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}
.menu {
	padding: 5px;
	background-color: rgba(173, 216, 250, 0.5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(173, 216, 250, 0.7);
}
.menu:hover {
	/* not working --> */
	background-color: rgba(173, 216, 250, 0.5)!important;
	box-shadow: 5px 5px 5px rgba(173, 216, 250, 0.7)!important;
	/* <-- not working */

	cursor: pointer;
}



.formDiv {
	margin: 20px auto;
	border: 1px solid blue;
	padding: 5px
}
input[name="name"].reportGeneric {
	width: 500px;
}
textarea.reportGeneric {
	width: 500px;
	height: 100px;
}





.button {
	border: 1px solid blue;
	margin: 5px auto;
	width: 100px;
	padding: 2px;
}





.tableDiv {
	text-overflow: ellipsis;
	margin: 20px auto;
	overflow-x: scroll;
	width: 80%;
}
table {
	margin: 20px auto;
	border: 1px solid blue;
}
#transactionsTable {
	width: 90%;
	max-width: 90%;
}
table caption {
	border: 1px solid blue;
	font-weight: bold;
}

table tr:first-child {
	background-color: rgba(255, 255, 255, 0.5) /* white */
}
table tr:nth-child(even) {
	background-color: rgba(183, 226, 250, 0.5) /* light blue*/
}
table tr:nth-child(odd) {
	background-color: rgba(173, 216, 250, 0.5) /* light blue*/
}
table tr.selected {
	background-color: rgba(180, 250, 180, 0.5) /* light green*/
}

th {
	border-bottom: 1px solid blue;
}
td {
	min-width: 100px;
	text-align: center;
}
/* 
 * https://stackoverflow.com/questions/1312236/how-do-i-create-an-html-table-with-a-fixed-frozen-left-column-and-a-scrollable-b
 */
/*
.stickLeft {
	min-width: 100px;
	border: 1px solid blue;
	position: absolute;
	left: 0;
	top: auto;
	border-top-width: 1px;
	margin-top: -1px;
}
.fake, td
{
    position:relative;
    left: -120px;
}
*/

td.deleteButton {
	width: 20%;
	max-width: 100px;
	border-right: 1px solid blue;
}
button.deleteButton {
	width: 50%;
	min-width: 50px;
	background-color: rgba(255, 114, 118, 0.5) /* light red */
}

input.amount {
	text-align: right;
}

.reportRmButton {
	background-color: red;
	position: relative;
	width: 20px;
	height: 20px;
}
.report_captions {
	background-color: orange;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	flex-direction: column;

	font-size: 1.2rem;
	font-weight: bold;
}
.report_caption_trs {
	background-color: yellow;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	align-items: stretch;
	align-content: stretch;
	border: 1px solid black;
}
.report_caption_tr_tds {
	background-color: green;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	border: 1px solid black;
}
.report_caption_tr_td_values {
	background-color: lightgreen;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	font-weight: normal;
	align-content: stretch;
	gap: 0px;
	border: 1px solid black;
	padding: 10px 10px 10px 50px;
}





/*
 * - - - - - - - - - - - Style for Main Tables made with DIVS - - - - - - - - - - - 
 */
.table {
	background-color: lightblue;
	box-sizing: border-box;
	margin: 10px auto 0px auto;
	padding: 10px;

	display: inline-flex;
	flex-direction: column;
/*
	overflow-x: auto;
*/
}
.caption {
	width: 100%;
	font-weight: bold;
	font-size: 1.2em;
}
.tr {
/*
	display: inline-flex;
	justify-content: space-between;
	align-content: stretch;
	flex-grow: 1;
	flex-shrink: 0;
	border: 1px solid black;
*/
	box-sizing: border-box;
	display: inline-flex;
	margin: 5px auto 5px auto;
	width: 90%;

}
.tr > * {
/*
	flex:1;
	display: inline-block;
	flex-shrink: 0;
	flex-basis: 0px;
*/
	border: 1px solid blue;
	box-sizing: border-box;
}
.th2 {
	width: 200px;
	padding: 5px;
	text-align: center;
/*
	flex-grow: 1;
*/
}
.th3 {
	width: 100px;
	padding: 5px;
/*
	flex-grow: 1;
*/
}
.td {
	width: 100px;
	padding: 5px;
	font-size: 0.9rem;
/*
	flex-grow: 1;
*/
}
/*
 * - - - - - - - - - - - END OF - Style for Main Tables made with DIVS - - - - - - - - - - - 
 */


.center {
	text-align: center;
}
</style>
