<style>
html {
	font-family: "Times New Roman", Times, serif;
}




.formDiv {
	margin: 20px auto;
	border: 1px solid blue;
	padding: 5px
}
#createReport input[name="name"] {
	width: 500px;
}
#createReport textarea {
	width: 500px;
	height: 100px;
}





.button {
	border: 1px solid blue;
	margin: 5px auto;
	width: 100px;
	padding: 2px;
}





.tableDiv {
	text-overflow: ellipsis;
	margin: 20px auto;
	overflow-x: scroll;
	width: 80%;
}
table {
	margin: 20px auto;
	border: 1px solid blue;
}
#transactionsTable {
	width: 90%;
	max-width: 90%;
}
table caption {
	border: 1px solid blue;
	font-weight: bold;
}

table tr:first-child {
	background-color: rgba(255, 255, 255, 0.5) /* white */
}
table tr:nth-child(even) {
	background-color: rgba(183, 226, 250, 0.5) /* light blue*/
}
table tr:nth-child(odd) {
	background-color: rgba(173, 216, 250, 0.5) /* light blue*/
}
table tr.selected {
	background-color: rgba(180, 250, 180, 0.5) /* light green*/
}

th {
	border-bottom: 1px solid blue;
}
td {
	min-width: 100px;
	text-align: center;
}
/* 
 * https://stackoverflow.com/questions/1312236/how-do-i-create-an-html-table-with-a-fixed-frozen-left-column-and-a-scrollable-b
 */
/*
.stickLeft {
	min-width: 100px;
	border: 1px solid blue;
	position: absolute;
	left: 0;
	top: auto;
	border-top-width: 1px;
	margin-top: -1px;
}
.fake, td
{
    position:relative;
    left: -120px;
}
*/

td.deleteButton {
	width: 20%;
	max-width: 100px;
	border-right: 1px solid blue;
}
button.deleteButton {
	width: 50%;
	min-width: 50px;
	background-color: rgba(255, 114, 118, 0.5) /* light red */
}

input.amount {
	text-align: right;
}

.table {
	box-sizing: border-box;
}
.caption {
	width: 100%;
}
.tr {
	display: flex;
	justify-content: space-between;
	margin: 5px auto;
	border: 1px solid black;
	width: 90%;
}
.td {
	width: 50%;
	padding: 5px;
}


.center {
	text-align: center;
}
</style>
