<style>
:root {
	--bgColor: rgba(220, 240, 250, 1);		/* lightblue */
	--bgColorDarker: rgba(200, 230, 250, 1);	/* light blue but darker */
	--tdColorLight: var(--bgColor);			/* light blue but darker */
	--tdColorDark: rgba(210, 230, 250, 1);		/* light blue but darker */
	--th2Height: 60px;
}
html {
	font-family: "Times New Roman", Times, serif;
}
* {
	box-sizing: border-box;
}
form {
	margin: 0px;
}


.center {
	text-align: center;
}
.button {
	border: 1px solid blue;
	margin: 5px auto;
	width: 100px;
	padding: 2px;
}
.error {
	color: red;
}
.secondaryTable {
	background-color: var(--bgColor);
}





/*
 * - - - - - - - - - - - Style for Menu - - - - - - - - - - - 
 */
#menu {
	display: flex;
	justify-content: space-around;
	margin: 20px;
}
.menu {
	padding: 5px;
	background-color: rgba(173, 216, 250, 0.5);
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgba(173, 216, 250, 0.7);
}
.menu:hover {
	/* not working --> */
	background-color: rgba(173, 216, 250, 0.5)!important;
	box-shadow: 5px 5px 5px rgba(173, 216, 250, 0.7)!important;
	/* <-- not working */

	cursor: pointer;
}
/*
 * - - - - - - - - - - - / Style for Menu - - - - - - - - - - - 
 */







/*
 * - - - - - - - - - - - Style for Main Tables made with DIVS - - - - - - - - - - - 
 */
.table {
	margin: 50px auto 10px auto;
	overflow: auto;	/* this is needed for the sticky elements */
	max-height: 90%; 	/* this is needed for the sticky elements */

	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
/*
	background-color: var(--bgColor);
	padding: 10px;
	-webkit-box-flex: 1;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	overflow-x: auto;
*/
}
/*
.table > div {
	box-sizing: border-box;
	-webkit-box-flex: 1;
	-webkit-flex: 1;
}
*/
.caption {
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}
.tr {
/*
	justify-content: space-between;
	align-content: stretch;
	-webkit-flex: 1;
	flex-grow: 1;
	flex-shrink: 0;
	border: 1px solid black;
	display: inline-flex;
*/
	margin: 5px auto 5px auto;
	min-width: 90%;
	box-sizing: border-box;

	display: -webkit-flex;
	flex-direction: row;
	-webkit-flex-direction: row;
}
.tr > div {
	display: flex;
	-webkit-display: flex;
	flex-direction: column;

	border: 1px solid blue;
	padding: 5px;
	
	text-align: center;
	justify-content: center;
	flex-wrap: wrap;
/*
	flex-shrink: 1;
	flex:1;
	display: inline-block;
	flex-shrink: 0;
	flex-basis: 0px;
	-webkit-flex: 1;
	flex: 1;
*/
}
.th2 {
	min-width: 200px;
	max-height: var(--th2Height);
	flex-basis: 0;
	flex-grow: 2;
	flex-shrink: 2;
/*
*/
}
.th3 {
	min-width: 100px;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
/*
*/
}
.td:nth-child(4n+3), .td:nth-child(4n+2) {
	background-color: var(--tdColorLight);
}
.td:nth-child(4n+4), .td:nth-child(4n+5) {
	background-color: var(--tdColorDark);
}
.td {
	min-width: 100px;
	font-size: 0.9rem;
	flex-basis: 0;
	flex-grow: 1;
	flex-shrink: 1;
/*
*/
}
.td input, .th2 input, .th3 input, .td select, .th2 select, .th3 select {
	/*
	*/
	width: 0px;
	min-width: 100%;
}
.arrow {
	min-width: 30px;
	max-width: 30px;
}
/*
 * - - - - - - - - - - - END OF - Style for Main Tables made with DIVS - - - - - - - - - - - 
 */




/*
 * - - - - - - - - - - - Style for GeneralLedger - - - - - - - - - - - 
 */
#generalLedger .caption {
	top: - var(--th2Height);
	margin-top: 0px;
	position: sticky;
	position: -webkit-sticky;
}
#generalLedger .th2:nth-of-type(1) {
	background-color: var(--bgColorDarker);
	margin-left: 0px;
	left: 0;
	position: sticky;
	position: -webkit-sticky;
	z-index: 7;
}
#generalLedger .th2:last-child {
	background-color: var(--bgColorDarker);
	right: 0;
	margin-right: 0px;
	position: sticky;
	position: -webkit-sticky;
	z-index: 6;
}
#generalLedger .tr:nth-of-type(2), #generalLedger .tr:nth-of-type(3) {
	background-color: var(--bgColorDarker);
	margin-top: 0px;
	position: sticky;
	position: -webkit-sticky;
}
#generalLedger .tr:nth-of-type(2) {
	top: 0;
	z-index: 10;
}
#generalLedger .tr:nth-of-type(3) {
	top: var(--th2Height);
	z-index: 9;
}
#generalLedger .tr:last-child {
	background-color: var(--bgColorDarker);
	margin-bottom: 0px;
	bottom: 0;
	position: sticky;
	position: -webkit-sticky;
	z-index: 8;
/*
	background-color: var(--bgColor);
	overflow: auto;
	align-self: flex-start;
 */
}
/*
 * - - - - - - - - - - - END OF - Style for Main Tables made with DIVS - - - - - - - - - - - 
 */





/*
 * - - - - - - - - - - - Style for Transaction Add  - - - - - - - - - - - 
 */
.accountsInvolved {
	-webkit-display: flex;
	-webkit-flex-direction: column;
}
.accountsInvolved .accountInvolved {
	margin: 10px;
	/*
	background-color: red;
	margin-top: 0px;
	flex-direction: row;
	-webkit-flex-direction: row;
	*/
}
#addtransactionsForm {
	/*
	min-width: min-content;
	*/
}
#addtransactionsForm textarea {
	min-height: var(--th2Height);
}
#addtransactionsForm .th2 {
	max-height: 100%;
}
/*
 * - - - - - - - - - - - END OF - Style for Accounts Management page - - - - - - - - - - - 
 */




/*
 * - - - - - - - - - - - Style for Accounts Management page - - - - - - - - - - - 
 */
#accountsManagement.table {
	margin-top: 0px;
	flex-direction: row;
	-webkit-flex-direction: row;
}
#accountsManagement .table {
	margin-top: 0px;
	min-width: 200px;
	margin-right: 10px;
}
#accountsManagement .tr{
	min-width: 0px;
}
/*
 * - - - - - - - - - - - END OF - Style for Accounts Management page - - - - - - - - - - - 
 */






/*
 * - - - - - - - - - - - Style for Reports - - - - - - - - - - - 
 */
.formDiv {
	margin: 20px auto;
	border: 1px solid blue;
	padding: 5px
}
input[name="name"].reportGeneric {
	width: 500px;
}
textarea.reportGeneric {
	width: 500px;
	height: 100px;
}
.reportRmButton {
	background-color: red;
	position: relative;
	width: 20px;
	height: 20px;
}
.report_captions {
	background-color: orange;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	flex-direction: column;

	font-size: 1.2rem;
	font-weight: bold;
}
.report_caption_trs {
	background-color: yellow;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	align-items: stretch;
	align-content: stretch;
	border: 1px solid black;
}
.report_caption_tr_tds {
	background-color: green;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
	border: 1px solid black;
}
.report_caption_tr_td_values {
	background-color: lightgreen;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	font-weight: normal;
	align-content: stretch;
	gap: 0px;
	border: 1px solid black;
	padding: 10px 10px 10px 50px;
}
/*
 * - - - - - - - - - - - / Style for Reports - - - - - - - - - - - 
 */

</style>
