<style>
html {
	font-family: "Times New Roman", Times, serif;
}


/*
 * - - - - - - - - - - - Style for Personalized Report - - - - - - - - - - - 
 */
input[name="name"].reportGeneric {
	width: 500px;
}
input {
	width: 100%;
}
textarea.reportGeneric {
	width: 500px;
	height: 100px;
}
.reportRmButton {
	position: relative;
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0px;
	background-color: red;
}
.report_captions {
	background-color: orange;
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0px auto 20px auto;
	padding: 10px 10px 10px 50px;

	display: flex;
	flex-direction: column;

	font-size: 1.2rem;
	font-weight: bold;
}
.report_caption_trs {
	background-color: yellow;
	position: relative;
	width: 100%;
	box-sizing: border-box;

	display: flex;
	align-items: stretch;
	align-content: stretch;
	border: 1px solid black;
}
.report_caption_tr_tds {
	background-color: green;
	position: relative;
	width: 100%;
	box-sizing: border-box;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	align-content: stretch;
}
.report_caption_tr_tdsContainer {
	width: 100%;
}
.report_caption_tr_td_values {
	background-color: lightgreen;
	display: flex;
	flex-wrap: wrap;
	font-size: 1rem;
	font-weight: normal;
	align-content: stretch;
	gap: 0px;
}
/*
 * - - - - - - - - - - - / Style for Personalized Report - - - - - - - - - - - 
 */
</style>
